.input-field {
  padding: 8px;
  border-radius: 8px;
  border-color: #00B06B;
  width: 100%;
}

.btn {
  margin: 1em 0;
  padding: 13px;
  background-image: linear-gradient(60deg, #00B06B, #00FC99);
  border: none;
  border-radius: 8px;
  color: #2c3e50;
  font-weight: bold;

  &--upload {
    font-variant: small-caps;
  }

  &--secondary {
    background-image: linear-gradient(60deg, #B01D00, #fd2d01);
    color: #fff;
  }
}

.form-group.upload-image img {
  max-width: 100px;
  border-radius: 20px;
  justify-content: center;
}

.form-group.upload-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn--secondary {
  margin: 1em 0;
  padding: 13px;
  background-image: linear-gradient(60deg, #B01D00, #fd2d01);
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: bold;
}

.form-group {
  margin: 0.3em 0;
}

.card-container {
  max-width: 400px;
  margin: auto;
}
